.quiz-builder-page {
    height: 100%;
    padding-top: 50px;

    text-align: center;

    & > button {
        margin: 5px;
    }
}

.create-quiz-form {
    padding: 20px;
    max-width: 500px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(56,55,56,1);
    -moz-box-shadow: 0px 0px 17px -5px rgba(56,55,56,1);
    box-shadow: 0px 0px 17px -5px rgba(56,55,56,1);

    display: grid;

    & > label,
    & > p {
        text-align: left;
    }

    & > textarea {
        width: 100%;
    }

    & > button {
        width: max-content;
        margin: 10px auto;
    }

    &--success {
        padding: 10px 0;
    }
}

.add-question-form {
    padding: 20px;
    max-width: 500px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(56,55,56,1);
    -moz-box-shadow: 0px 0px 17px -5px rgba(56,55,56,1);
    box-shadow: 0px 0px 17px -5px rgba(56,55,56,1);

    & > .input-group {
        margin: 5px 0;
    }
}

.question-preview {
    margin: 10px 0;

    &--single-answer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto 1fr;
        grid-gap: 5px;

        & > button {
            grid-row: span 2;
        }
    }

    &--multiple-choice {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 5px;
        grid-template-rows: repeat (2, auto);

        & > button {
            grid-row: span 2;
        }

        & > ul {
            list-style: none;
            text-align: left;

            padding: 0;
            margin: 0;
        }
    }
}
