.quiz-page {
    height: 100vh;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
        margin-bottom: 20px;
    }
}

.start-quiz-form {
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > input {
        margin: 10px 0;
        max-width: 300px;
    }
}

.quiz-question-form {
    padding: 20px;
    min-width: 250px;

    border: 1px solid #dee2e6;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 17px -5px rgba(56,55,56,1);
    -moz-box-shadow: 0px 0px 17px -5px rgba(56,55,56,1);
    box-shadow: 0px 0px 17px -5px rgba(56,55,56,1);
    text-align: center;

    & > p {
       margin-bottom: 16px;
       font-weight: bolder;
    }

    & > div {
        margin: 0 16px;
        text-align: left;
    }

    & > button {
        margin: 16px 5px 0 5px;
    }
}

.participant-result {
    padding: 30px;
    text-align: center;
}
